.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px 0;
}

.content-textBox{
    position: relative;
    max-width: 700px;
    font-size: 20px;
}

.content-textBox-h2{
    color: #0B132A;
    font-size: 50px;
    line-height: 1.4em;
    font-weight: bold;
}

.content-textBox-p{
    color: #29272A;
    margin-top: 35px;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.50px;
    word-wrap: break-word;
    text-align: justify;
}
.header-image {
    display: flex;
    width: 400px;
    height: 390px;
}

/*-----------Button--------------*/

.section-second{
    width: 100vw;
    margin-top: 150px;
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.shadow-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 90%;
    background: rgb(117, 117, 117, 0.03);
    border-radius: 30px;
}

.buttons{
    display: flex;
    position: relative;
    justify-content: center;
    opacity: 100%;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    height: 179px;
    width: 1140px;
}

.button-left,
.button-right{
    display: flex;
    height: 179px;
    width: 570px;
    background: #fff;
    align-items: center;
    justify-content: center;
}

.text-in-button{
    width: 398px;
    height: 63px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; /* 109.375% */
    align-items: center;
}

.stick{
    position: absolute;
    width: 2px;
    height: 112px;
    flex-shrink: 0;
    stroke-width: 2px;
    background: rgb(117, 117, 117, 0.3);
}
