.laptop-box{
    display: flex;
    width: 667px;
    height: 532px;
    flex-shrink: 0;
    margin-left: 70px;
}
.laptop{
    display: flex;
    width: 667px;
    height: 532px;
    flex-shrink: 0;

}

.basic-services{
    display: flex;
    position: relative;
    width: 100%;

}

.services{
    position: relative;
    margin-left: 8%;
    width: 570px;
}

.heading-services{
    display: flex;
    position: relative;
    color: #0B132A;
    margin-top: 10%;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 142.857% */
}

.services .text-services{
    display: flex;
    position: relative;
    color: #4F5665;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    width: 412px;
    margin-top: 24px;
}

.dots-list{
    margin-top: 51px;
    position: relative;
}
.dot{
    margin-top: 15px;
    display: flex;
    position: relative;
}

.dots-text{
    margin-left: 10px;
    color: #4F5665;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 214.286% */
}