.navBar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainLogo{
    position: relative;
    max-width: 190px;
    flex-shrink: 0;
}

.header-nav{
    position: relative;
    display: flex;
}

.header-nav-li{
    list-style: none;
}

.navBar ul li a{
    display: inline-block;
    color:  #29272A;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
