.button-history {
    position: relative;
    margin-left: auto;
    margin-right: 1.6rem;
    margin-top: 1.9rem;
    flex-shrink: 0;
}

.button {
    background: none;
    /*width: 2.3125rem;*/
    /*height: 2.3125rem;*/
    /*flex-shrink: 0;*/
}